<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='resources/favicon.png')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/network.css')}}">
</head>
<body>
<div id="mynetwork"></div>
</body>
<script src="{{url_for('static',filename='js/vendor/socket.io.js')}}"></script>
<script src="{{url_for('static',filename='js/vendor/jquery-3.6.0.min.js')}}"></script>
<script src="{{url_for('static',filename='js/vendor/vis.js')}}"></script>
<script src="{{url_for('static',filename='js/network.js')}}"></script>
</html>