body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background: linear-gradient(-45deg,  rgba(151, 173, 16, 0.7), rgba(94, 203, 171, 0.68), rgba(99, 192, 211, 0.68), rgba(82, 167, 206, 0.73), rgba(83, 176, 206, 0.7));
    background-size: 500% 500%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#mynetwork {
    width: 100%;
    height: 100%;
}
